@import './colors.scss';

.navbar {
  padding: 10px 30px;

  .navbar-brand {
    margin-right: 30px;
    font-size: 27px;
    letter-spacing: 1px;
    font-weight: bold;
    color: $primary-color;
  }

  .nav-item {
    font-size: 18px;
  }

  .navbar-nav {
    .nav-link {
      &:hover {
        color: $primary-color;
      }
    }
  }
}
