@import './colors.scss';
@import './header.scss';
@import './home-page.scss';
@import './rental-detail.scss';
@import './forms.scss';
@import './booking.scss';

html,
body {
  height: 100%;
}

.rental-link {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

.bi-container {
  padding-top: 70px;
}

.type- {
  &apartment {
    color: #a72da3;
  }

  &house {
    color: #bf1818;
  }

  &condo {
    color: #d68000;
  }
}

.btn-bi-main {
  color: $primary-color;
  border-color: $primary-color;

  &:hover,
  &:focus,
  &:active {
    color: $primary-dark;
    background-color: $primary-color;
    border-color: $primary-dark;
  }
}

.btn-bi-form {
  background-color: $primary-dark;
  color: $primary-color;
  border-color: $primary-dark;

  &:hover,
  &:focus,
  &:active {
    background-color: $primary-color;
    color: $primary-dark;
    border-color: $primary-color;
    outline: none;
  }

  &:disabled {
    color: #bbb;
  }
}

.pointer {
  cursor: pointer;
}

.rdrCalendarWrapper {
  display: block;

  .rdrMonth {
    width: 100%;
  }
}

@media screen and (max-width: 990px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 920px;
  }
}
