.img-upload-container {
  .file-input {
    display: none;
  }

  .upload-text {
    font-size: 16px;
  }

  .img-preview-container {
    background-color: #f7f7f7;
    padding: 10px;

    .img-preview {
      height: 110px;

      img {
        height: 100%;
      }
    }

    .upload-status {
      margin-bottom: 0;
      margin-top: 10px;
    }
  }
}
